{% for repo in entrada_cicd_git_repos %}
pipelineJob('{{ repo.name }}') {
  definition {
    cpsScm {
      scm {
        git {
          remote {
            credentials('{{ repo.credentials }}')
            url('{{ repo.url }}')
          }
          branches('{{ repo.branches | default(entrada_cicd_branches) }}')
        }
      }
      scriptPath('{{ repo.scriptpath | default(entrada_cicd_scriptpath) }}')
    }
  }
  properties {
    pipelineTriggers {
      triggers {
        pollSCM {
          scmpoll_spec('{{ repo.pollscm | default(entrada_cicd_pollscm) }}')
        }
      }
    }
  }
}
{% endfor %}
